@import "../../assets/css/variable.scss";
@import "../../assets/css/mixin.scss";

.card-data-wrap {
    .card-banner {
        max-width: 364.73px;
        min-height: 224px;
        @include for-size(tabletLarge-view) {
            min-width: 364.73px;
        }
    }
    .card-box {
        background: url("../../assets/images/card-banner.png") no-repeat;
        width: 100%;
        padding: 11px 12px 14px;
        border-radius: 20px;
        border: 1px solid #ceeae8;
        background-position: center;
        background-size: cover;
        margin-bottom: 15px;

        .card-head {
            margin-bottom: 49px;

            h3 {
                color: $white;
                @include fontsize(20px);
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 0;
            }

            p {
                color: $white;
                @include fontsize(14px);
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0.0025em;
                margin-bottom: 0;
            }
        }

        .card-content {
            display: flex;
            gap: 0 13px;
            flex-wrap: wrap;
            @include for-size(laptop-view-new) {
                gap: 0 22px;
            }

            h3 {
                color: $white;
                @include fontsize(12px);
                font-weight: 400;
                line-height: 14px;
                margin-bottom: 5px;
            }

            p {
                @include fontsize(14px);
                color: $white;
                font-weight: 500;
                line-height: 20px;
                letter-spacing: 0.0025em;
                margin-bottom: 0;
            }
        }
        .initial-box {
            .head-wrp {
                // width: 29%;
                margin-bottom: 28px;

                &.person {
                    width: 13%;
                }

                &.grp-one {
                    width: 40%;
                    margin-bottom: 0;
                }

                &.grp-two {
                    margin-bottom: 0;
                    padding-right: 0;
                }
            }
        }
    }
}
