@import '../../assets/css/variable.scss';
@import '../../assets/css/mixin.scss';
.download-document-wrap{
    .main-card{
    padding: 20px;
    }
    .table{
        thead{
            tr{
                th{
                    white-space: normal;
                    &:first-child{
                        text-align: start;
                        padding-left: 20px;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    white-space: normal;
                    &:first-child{
                        text-align: start;
                        padding-left: 20px;

                    }
                }
            }
        }
    }
    .search-block{
        @include for-size(tabletLarge-view){
            margin-bottom: 20px;
        }
    }
}